# PROJECT OVERVIEW

We are building a software developer portfolio website for myself.
The website is a single page website with a sidebar.
The sidebar has links to the different sections of the website.
The sections are:
- Home
- Experience
- Projects
- Contact

The website has a TUI style design. It is mobile responsive, and has a light and dark mode.

# TECH STACK

- HTML
- CSS
- Tailwind CSS
- Live Server
- VSCode
- Catppuccin color palette (latte for light mode and mocha for dark mode)

# GITHUB PUSH PROCESS

- git add .
- git commit -m "what changed"
- git push

# RULES
- DO NOT change the text content of the website.